/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}

React.useEffect(() => {
// 添加自定义 CSS 样式
    const style = document.createElement('style')
    style.innerHTML = `
    :root {
    --waline-theme-color: #34495e /*主题色，提交按钮*/
    --waline-active-color: #246BB1 /*鼠标移到提交按钮上的颜色*/
    /* 徽章 */
    --waline-badge-color: #34495e /*博主徽章色*/
    --waline-avatar-radius: 5px
    --waline-avatar-size: 4rem
    --waline-dark-grey: #34495e /*ID颜色*/
    --waline-text-color: #34495e /*字体颜色*/
    --waline-font-size: 1rem /*字体大小*/

   /*日间模式*/
  :root {
    --waline-theme-color: #34495e; /*主题色，提交按钮*/
    --waline-active-color: #246BB1; /*鼠标移到提交按钮上的颜色*/
    /* 徽章 */
    --waline-badge-color: #34495e; /*博主徽章色*/
    --waline-dark-grey: #34495e; /*ID颜色*/
    --waline-text-color: #34495e; /*字体颜色*/

  /*夜间模式*/
  :root[data-scheme="dark"] {
    --waline-theme-color: #acc6e0;
    --waline-white: #34495e; /*按键字体颜色*/
    --waline-active-color: #8ab1d8;
    --waline-light-grey: #666;
    --waline-dark-grey: #acc6e0; /*ID颜色*/
    --waline-badge-color: #acc6e0;

    /* 布局颜色 */
    --waline-text-color: rgba(255, 255, 255, 0.7);
    --waline-bgcolor: #515151;
    --waline-bgcolor-light: #66696b; /*行内代码块颜色*/
    --waline-border-color: #9b9c9c;
    --waline-disable-bgcolor: #444;
    --waline-disable-color: #272727;

    /* 特殊颜色 */
    --waline-bq-color: #9b9c9c; /*quote*/

    /* 其他颜色 */
    --waline-info-bgcolor: #acc6e0;
    --waline-info-color: #9b9c9c;
  ｝
`
